* {
	font-family: sans-serif !important;
  box-sizing: border-box;
}

html, body {
	margin: 0;
}

/* ------------ Header Bar Section ------------ */

.header-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0 10%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  /*border-bottom: solid 1px darkgoldenrod;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 3px 2px rgba(0,0,0,.24);*/
  height: 100px;
  transition: 0.4s;
  /*background-color: rgb(0, 0, 0);*/
  background-color: #3D3F3F;
}

#logo {
  width: 10rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.header-menu {
  display: flex;
  user-select: none;
}

.header-menu label {
  padding: 15px 40px;
  /*margin: 0 40px;*/
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.90px;
  border-bottom: ridge 1px;
  color: white;
}

.header-menu-button {
  border: none;
  background: none;
  padding: 15px 0;
  margin: 0 40px;
}

.header-menu-button:focus {
  border: none;
  background: none;
  outline: none;
}

.header-menu-button:hover {
  transition: all .02s ease-in-out;
  /*background-color: rgb(0, 0, 0);*/
  background-color: #3D3F3F;
  transform: scale(0.97);
  cursor: pointer;
}

.AoS-label:hover, .WF8-label:hover, .Paint-label:hover {
  /*background-color: #f2f2f2;*/
  cursor: pointer;
}

.header-follow-me {
  display: inline-flex;
  margin: 0 3% 0 auto;
}

.youTubeButton {
  background-color: #FF0000;
  border: none;
  border-radius: 25%;
  place-self: center;
  margin-left: 10px;
  padding: 4px 11px 3px 13px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.youtube-play {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  display: inline-block;
}

.youTubeButton:hover {
  transform: scale(1.05);
}

/* --- Header bar MOBILE SOLUTION --- */ 

@media (max-width: 980px) {

  .header-bar {
    padding: 0;
  }

  .header-menu {
    display: contents;
  }

  .header-menu-button {
    display: flex;
    margin-right: 5px;
    margin: 0 4px;
  }

  .header-menu label {
    padding: 15px 4px;
    /*border: ridge 1px;*/
    font-size: x-small;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 2px rgba(0,0,0,0.22), 0 2px 4px rgba(0,0,0,0.24);
    border: none;
  }

  #logo {
    width: 6rem;
    padding: 1rem 0rem 1rem 0.4rem;
  }

  .youTubeButton {
    padding: 0px 4px 0px 7px;
  }

  .youtube-play {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 9px solid white;
  }

}



/* ------------ Content section ------------ */

.content {
  position: relative;
  background-color: black;
}

#intro-video {
  /*position: absolute;*/
  width: 100%;
  padding-top: 75px;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

/* Temporary static intro background 
.intro-background {
  position: absolute;
  width: 100%;
  margin-top: 5rem;
}*/

/* NEW INTRO */

#intro-banner-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12% 1%;
  user-select: none;
}

#intro-date {
  color: white;
  font-family: Anonymous Pro !important;
  text-align: center;
}

#intro-line {
  border: ridge 1px;
  border-color: indianred;
  margin: 8px 30% 14px;
}

.intro-text {
  color: white;
  text-align: center;
  font-size: 20px;
}

.intro-text-small {
  font-size: small;
}

.intro-button-container {
  text-align: center;
}

.intro-goto-button {
  background: linear-gradient(to right, #dc9014 0%, #f6e27e 50%, #dc9014 100%);
  width: 200px;
  border: none;
  padding: 15px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
}

.intro-goto-button:hover {
  background: linear-gradient(to right, #dc9014 0%, #efc90c 50%, #dc9014 100%);
}




/* 

#intro-banner-container {
  position: absolute;
  background-color: white;
  padding: 2% 25% 4%;
  left: 50%;
  top: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#intro-date {
  font-family: Anonymous Pro !important;
  text-align: center;
}

#intro-line {
  border: ridge 1px;
  border-color: indianred;
  margin: 8px 45% 14px;
}

.intro-arrow-container {
  text-align: center;
}

#intro-arrow {
  width: 30px;
  animation: bounce 1s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(0.5, -0.25, 1, 1.2);
  animation-iteration-count: infinite; 
  cursor: pointer;
}


/* Adding slow bounce to the arrow 
@keyframes bounce { 
  from {
          transform: translate3d(0, 0, 0); 
        }
    to  {
          transform: translate3d(0, 15px, 0); 
        }
} 

h1 {
  text-align: center;
}

.intro-youtube-container {
  text-align: center;
  position: relative;
}

#youtube-video {
  width: 100%;
  height: 30rem;
  border: unset;
  display: table-header-group;
  bottom: 0;
}

.intro-text {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  top: 0;
  right: 6%;
}

.intro-text-small {
  font-size: small;
}

.intro-button-container {
  text-align: center;
}

.intro-goto-button {
  background: linear-gradient(to right, #dc9014 0%, #f6e27e 50%, #dc9014 100%);
  width: 200px;
  border: none;
  padding: 15px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
}

.intro-goto-button:hover {
  background: linear-gradient(to right, #dc9014 0%, #efc90c 50%, #dc9014 100%);
}*/


/* --- Content MOBILE SOLUTION --- */ 

@media (max-width: 980px) {

  /* NEW SOLUTION */ 

  .content {
    background-color: #3D3F3F;
  }

  #intro-video {
    width: 100%;
    padding: 100px 0 20px 0;
  }

  #intro-banner-container {
    display: block;
    position: relative;
    background: white;
    padding: 0;
    background-color: #3D3F3F;
  }

  h1 {
    font-size: 14px;
  }

  #follow-me-id {
    font-size: 12px;
  }

  #intro-date {
    font-size: small;
    color: white;
  }

  .intro-text {
    color: white;
  }

  .intro-button-container {
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
  }

  .intro-goto-button {
    margin-top: 5px;
    margin-bottom: 25px;
  }


  /* OLD  

  #intro-banner-container {
    display: block;
    position: absolute;
    background: white;
    margin-top: 27rem;
    width: 100%;
    padding: 20px 0;
    box-shadow: unset;
  }

  #intro-arrow {
    display: none;
  }

  h1 {
    font-size: 14px;
  }

  #follow-me-id {
    font-size: 12px;
  }

  #intro-date {
    font-size: small;
  }

  .intro-youtube-container {
    border:unset;
  }

  #youtube-video {
    height: 100%;
    /*width: 80%
    padding: 0 8%;
  }

  .intro-text {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 42%;
    padding: 1.5%;
    font-size: xx-small;
    right: 9%;
  }

  .intro-text-small {
    font-size: x-small;
  }*/ 

}


/* ----- Footer section ----- 

.footer {
  position: absolute;
  top: 100rem;
  width: 100%;
  background-color: #404040;
  text-align: center;
  margin: 35px 0 0 0;
  user-select: none;
}

#open-footer {
  display: inline-block;
  margin: 2%;
  color: white;
}

#open-footer:hover {
  color: #cccccc;
  transition: all .1s ease-in-out;
  cursor: pointer;
}*/

/* --- Footer section MOBILE SOLUTION --- 

@media (max-width: 980px) {

  .footer {
    display: none;
    top: 40rem;
    font-size: small;
  }

}*/ 

/* ----- ANIMATIONS ----- */

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  overflow-y: scroll;
}

.fade-in::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./images/preloader.gif) center no-repeat #fff;
}