* {
	font-family: sans-serif !important;
  box-sizing: border-box;
}

html, body {
	margin: 0;
}

/* ------------ Header Bar Section ------------ */

.header-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: solid 1px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 3px 2px rgba(0,0,0,.24);*/
  height: 100px;
  transition: 0.4s;
}

#logo {
  width: 10rem;
  padding: 1rem 2rem 1rem 1rem;
}

.header-menu {
  display: flex;
  user-select: none;
}

.header-menu label {
  padding: 15px 55px;
  border: ridge 1px;
}

.header-menu-button {
  border: none;
  background: none;
  padding: 0;
  margin-right: 25px;
}

.header-menu-button:focus {
  border: none;
  background: none;
  outline: none;
}

.header-menu-button:hover {
  transition: all .3s ease-in-out;
  background-color: #f2f2f2;
  transform: scale(0.97);
  cursor: pointer;
}

.AoS-label:hover, .WF8-label:hover, .Paint-label:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.header-follow-me {
  display: inline-flex;
  margin: 0 3% 0 auto;
}

.youTubeButton {
  background-color: #FF0000;
  border: none;
  border-radius: 25%;
  place-self: center;
  margin-left: 10px;
  padding: 4px 11px 3px 13px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.youtube-play {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  display: inline-block;
}

.youTubeButton:hover {
  transform: scale(1.05);
}

/* --- Header bar MOBILE SOLUTION --- */ 

@media (max-width: 980px) {

  .header-menu {
    display: contents;
  }

  .header-menu-button {
    display: flex;
    margin-right: 5px;
  }

  .header-menu label {
    padding: 6px 8px;
    border: ridge 1px;
    font-size: x-small;
  }

  #logo {
    width: 6rem;
    padding: 1rem 0rem 1rem 0.4rem;
  }

  .youTubeButton {
    padding: 0px 4px 0px 7px;
  }

  .youtube-play {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 9px solid white;
  }

}



/* ------------ Content section ------------ */

.content {
  position: relative;
}

#intro-video {
  position: absolute;
  width: 100%;
  padding-top: 75px;
}

#intro-banner-container {
  position: absolute;
  margin: 62% 0 5% 0;
  background-color: white;
  padding: 2% 25% 4%;
  left: 50%;
  top: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#intro-date {
  font-family: Anonymous Pro !important;
  text-align: center;
}

#intro-line {
  border: ridge 1px;
  border-color: indianred;
  margin: 8px 45% 14px;
}

.intro-arrow-container {
  text-align: center;
}

#intro-arrow {
  width: 30px;
  animation: bounce 1s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(0.5, -0.25, 1, 1.2);
  animation-iteration-count: infinite; 
  cursor: pointer;
}

/* Adding slow bounce to the arrow */
@keyframes bounce { 
  from {
          transform: translate3d(0, 0, 0); 
        }
    to  {
          transform: translate3d(0, 15px, 0); 
        }
} 

h1 {
  text-align: center;
}

.intro-youtube-container {
  text-align: center;
  padding: 10px;
  border: ridge 1px;
}

#youtube-video {
  width: 100%;
  height: 30rem;
}

/* --- Header bar MOBILE SOLUTION --- */ 

@media (max-width: 980px) {

  #intro-banner-container {
    display: block;
    position: absolute;
    background: white;
    margin-top: 29rem;
    width: 100%;
    padding: 20px 0;
    box-shadow: unset;
  }

  #intro-arrow {
    display: none;
  }

  h1 {
    font-size: 14px;
  }

  .intro-youtube-container {
    border:unset;
  }

  #youtube-video {
    height: 100%;
    width: 80%
  }

  #follow-me-id {
    font-size: 12px;
  }

  #intro-date {
    font-size: small;
  }

}


/* ----- Footer section ----- */

.footer {
  position: absolute;
  top: 100rem;
  width: 100%;
  background-color: #404040;
  text-align: center;
  margin: 35px 0 0 0;
  user-select: none;
}

#open-footer {
  display: inline-block;
  margin: 2%;
  color: white;
}

#open-footer:hover {
  color: #cccccc;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

/* --- Header bar MOBILE SOLUTION --- */ 

@media (max-width: 980px) {

  .footer {
    top: 42rem;
  }

}

/* ----- ANIMATIONS ----- */

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  overflow-y: scroll;
}

.fade-in::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./images/preloader.gif) center no-repeat #fff;
}