* {
	font-family: sans-serif !important;
}

* {
  box-sizing: border-box;
}

html, body {
	margin: 0;
 /* min-width: fit-content;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed; 
  background-size: 100%;*/  
}

/* Header Section */

.header-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: solid;
}

#logo {
  width: 10rem;
  padding: 1rem 2rem 1rem 1rem;
}

.header-radio {
  display: flex;
  user-select: none;
}

.header-radio label {
  padding: 15px 55px;
  border: ridge 1px;
}

.header-radio input[type="radio"] {
  display: none;
}

.header-radio input[type="radio"]:checked + label {
  border: ridge 1px gray;
}

.AoS-radio, .WF8-radio, .Paint-radio {
  margin-right: 25px;
}

.AoS-radio:hover, .WF8-radio:hover, .Paint-radio:hover {
  background-color: #f2f2f2;
}

/* Timeline */

.timeline {
  /*background-image: url(./images/intro.jpg);
  width: inherit;*/
  position: relative;

}

.intro-background {
  position: absolute;
  width: 100%;
  margin-top: 5rem;
}

/*@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#animate-area {
  width: 200px;
  height: 200px;
  background-image: url(./images/intro-background.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}*/


/*#intro-video {
  position: absolute;
  width: 100%;
  padding-top: 110px;
}*/

#intro-banner-container {
  position: absolute;
  margin: 70rem 0 0;
  background-color: white;
  padding: 20px 200px 50px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

/* MOBILE SOLUTION*/ 
@media (max-width: 480px) {
  #intro-banner-container {
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    background: white;
    margin-top: 40rem;
    padding: 20px 0;
  }
}

#intro-date {
  font-family: Anonymous Pro !important;
  text-align: center;
}

#intro-line {
  border: ridge 1px;
  border-color: indianred;
  margin: 8px 295px 8px;
}

.intro-arrow-container {
  text-align: center;
}

#intro-arrow {
  width: 25px;
  animation: bounce 1s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(0.5, -0.25, 1, 1.2);
  animation-iteration-count: infinite; 
}
/* Adding slow bounce to the arrow */
@keyframes bounce { 
  from {
          transform: translate3d(0, 0, 0); 
        }
    to  {
          transform: translate3d(0, 15px, 0); 
        }
} 

h1 {
  /*max-width: fit-content;*/
  text-align: center;
}

.intro-image-container {
  text-align: center;
  padding: 10px;
  border: ridge 1px;
}

#intro-image {
  width: 620px;
  opacity: 0.8;
}


/* Content start */

.timeline-content {
  position: absolute;
  left: 50%;
  /*width: 100%;*/
  transform: translate(-50%, -50%);
  margin-top: 96rem;
  height: 8rem;
}

#battle-report-descr {

}


/* ANIMATIONS */

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  overflow-y: scroll;
}

.fade-in::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

