* {
	font-family: sans-serif !important;
  box-sizing: border-box;
}

html, body {
	margin: 0;
}

/* ------------ Header Bar Section ------------ */

.header-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: solid 2px;
  height: 100px;
  transition: 0.4s;
}

#logo {
  width: 10rem;
  padding: 1rem 2rem 1rem 1rem;
}

.header-radio {
  display: flex;
  user-select: none;
}

.header-radio label {
  padding: 15px 55px;
  border: ridge 1px;
}

.header-radio input[type="radio"] {
  display: none;
}

.header-radio input[type="radio"]:checked + label {
  border: ridge 1px gray;
}

.AoS-radio, .WF8-radio, .Paint-radio {
  margin-right: 25px;
  transition: all .3s ease-in-out;
}

.AoS-radio:hover, .WF8-radio:hover, .Paint-radio:hover {
  background-color: #f2f2f2;
  transform: scale(0.97);
  cursor: pointer;
}

.header-follow-me {
  display: inline-flex;
  margin: 0 25px 0 auto;
}

.youTubeButton {
  background-color: #FF0000;
  border: none;
  border-radius: 25%;
  place-self: center;
  margin-left: 10px;
  padding: 4px 11px 3px 13px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.youtube-play {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  display: inline-block;
}

.youTubeButton:hover {
  transform: scale(1.05);
}

/* MOBILE SOLUTION */ 
@media (max-width: 980px) {
  .header-radio {
    display: none;
  }

  #logo {
    width: 7rem;
    padding: 1rem 0rem 1rem 1rem;
  }

  .mobile-menu {
    width: 65px;
    vertical-align: middle;
    display: block !important;
  }

}

/* ------------ Content ------------ */

.content {
  position: relative;
}

.intro-background {
  position: absolute;
  width: 100%;
  margin-top: 5rem;
}

/*@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#animate-area {
  width: 200px;
  height: 200px;
  background-image: url(./images/intro-background.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}*/


/*#intro-video {
  position: absolute;
  width: 100%;
  padding-top: 110px;
}*/

#intro-banner-container {
  position: absolute;
  margin: 55% 0 5% 0;
  background-color: white;
  padding: 4% 10% 4%;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px 1px;
}

#intro-date {
  font-family: Anonymous Pro !important;
  text-align: center;
}

#intro-line {
  border: ridge 1px;
  border-color: indianred;
  margin: 8px 45% 18px;
}

.intro-arrow-container {
  text-align: center;
}

#intro-arrow {
  width: 25px;
  animation: bounce 1s; 
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(0.5, -0.25, 1, 1.2);
  animation-iteration-count: infinite; 
}

/* Adding slow bounce to the arrow */
@keyframes bounce { 
  from {
          transform: translate3d(0, 0, 0); 
        }
    to  {
          transform: translate3d(0, 15px, 0); 
        }
} 

h1 {
  text-align: center;
}

.intro-youtube-container {
  text-align: center;
  padding: 10px;
  border: ridge 1px;
}



/* ------ MOBILE SOLUTION ------- */ 

@media (max-width: 480px) {

  .intro-background {
    position: absolute;
    width: 100%; 
    margin-top: 6rem;
  }

  #intro-banner-container {
    display: block;
    position: absolute;
    background: white;
    margin-top: 45rem;
    width: 100%;
    padding: 20px 0;
    box-shadow: unset;
  }

  h1 {
    font-size: 28px;
    margin: 30px 0px 90px 0px;
  }

  .intro-youtube-container {
    border:unset;
  }

  #youTubeVid {
    width: 80%
  }

  #follow-me-id {
    display: none;
  }

}






/* ----- ANIMATIONS ----- */

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  overflow-y: scroll;
}

.fade-in::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./images/preloader.gif) center no-repeat #fff;
}











/* Old Content start 

.timeline-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 96rem;
  height: 8rem;
}

#battle-report-descr {

}
*/
